<div id="productsDiv">
    <h1>Products list</h1>
    <hr>
</div>
{{!-- {{modificado}}} --}}
<div class="bienvenida">
    <h2>Bienvenido {{usuario.first_name}}, con mail: {{usuario.email}} y rol: {{usuario.rol}}</h2>
</div>
{{!-- {{/modificado}}} --}}
<div id="listaProducts">
    <ol>
        {{#each productsMDB}}


        <li>
            <h4>Title: {{this.title}}</h4>
            <p>Description: {{this.description}}</p>
            <p>Price: {{this.price}}</p>
            <p>Thumbnail: {{this.thumbnail}}</p>
            <p>Code: {{this.code}}</p>
            <p>Stock: {{this.stock}}</p>
            <p>Category:{{this.category}}</p>
            <p>Status:{{this.status}}</p>
            <p>_id:{{this._id}}</p>

            <button>Agregar al carrito</button>
        </li>


        {{/each}}
    </ol>
</div>
<br>

<div id="buttons">

    <a href="/?limit={{limit}}&page=1">1</a>

    {{#if hasPrevPage}}

    <a href="/?limit={{limit}}&page={{prevPage}}">Anterior</a>

    {{else}}

    <span>Anterior</span>

    {{/if}}

    {{#if hasNextPage}}

    <a href="/?limit={{limit}}&page={{nextPage}}">Siguiente</a>

    {{else}}

    <span>Siguiente</span>

    {{/if}}

    <a href="/?limit={{limit}}&page={{totalPages}}">Ultima</a>



</div>